:root{
    --Dark-1:#131313;
    --Dark-2:#212121;
    --color-text:#e6cdb5;
    --Primary-bg:var(--Dark-1);
    --Secondary-bg:var(--Dark-2);
    --head-titles:#fb2171;
    --head-titles-2: #a827f8;
    --head-titles-3: #8a21fb;
    --Hover-1: #a212fc;
    --light: var(--color-text);
    --border-1:#333333;
    --border-2:#1b1b1b;
    --hamb-shdw:#2a2929;
    --hamb-spans:#FC3C8F;
    --hamb-spans-2:#ff74b0;
    --hamb-spans-3:#fd91c0;
    --logo-glow-1:#ff5aac;
    --logo-glow-2:#FC3C8F;
    --target-height: 110px;
}
.light__theme{
    --Light-1: #ddcafa;
    --Light-2: #dbc4fd;
    --color-text: #333333;
    --border-1: #baa7d7;
    --border-2: #fce1ff;
    --Primary-bg: var(--Light-1);
    --Secondary-bg: var(--Light-2);
    --light: var(--color-text);
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Combo', cursive;
    font-size: 1.1rem;
    font-weight: 500;
    scroll-behavior: smooth;
    transition: .5s ;
    cursor:none; 
}
body{background: var(--Primary-bg)}
html, body {
    scrollbar-width: none;
    -ms-overflow-style: none;
}
body::-webkit-scrollbar {
    display: none; 
}
::selection{
    color: var(--Secondary-bg);
    background: var(--light);
}
.cursor{
    display: none;
    position: fixed;
    width: 2rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: 3.5px solid #fff;
    mix-blend-mode: difference;
    transform: translate(-50%,-50%);
    pointer-events: none;
    animation: cursor 20s linear infinite;
    transition: .01s;
    z-index: 999;
    animation:wobble 1s linear forwards infinite;
}
@keyframes wobble {
    0%, 100% {border-radius: 50%;}
    25%,30% {border-radius: 37% 63% 36% 64% / 54% 40% 60% 46%;}
    30%,40% {border-radius: 35% 65% 40% 58% / 65% 35% 63% 38%;}
    40%,55% {border-radius: 32% 68% 47% 53% / 72% 32% 68% 28%;}
    55%,70% {border-radius: 42% 58% 54% 46% / 43% 40% 60% 57%;}
    70%,85% {border-radius: 42% 58% 54% 46% / 43% 40% 60% 57%;}
    85%,100%{border-radius: 59% 41% 58% 42% / 39% 59% 41% 61% ;}
}

@media (pointer:fine){.cursor{display: block;}}
@keyframes cursor {
    48%,52%{background: none;}
    50%{background: #fff;}
}
.cursor-click{
    width:2.3rem;
    border: 3.5px dashed #fff;
    animation: curClck 2.7s linear infinite;
    animation-delay: .2s;
}
@keyframes curClck {
    from{transform: translate(-50%,-50%) rotate(0);}
    to{transform: translate(-50%,-50%) rotate(360deg);}
}
.fadeOut{filter:blur(3px);opacity: 0;transition:all .5s;transition-delay: calc(var(--AnimDelay,1s)*.2s);}
.fadeIn{opacity: 1;filter: blur(0px);}
.slideOut{transform: translate(10px);transition: all .5s;transition-delay :calc(var(--stagAnimDelay,1s)*.2s)}
.slideIn{transform: translate(0);}
@media(prefers-reduced-motion){
    .fadeOut,.slideOut{transition: none;}
}

                                    /*! this is the scroll snap css*/
html{
    scroll-snap-type: y mandatory;
    scroll-padding-top: 6.44rem;
}
.after__header--container{scroll-snap-align: start;scroll-snap-stop: always;}
.work-bg{scroll-snap-align: start;scroll-snap-stop: always;}
.contact__section{scroll-snap-align: start;scroll-snap-stop: always}
.footer__container{scroll-snap-align: start;scroll-snap-stop: always;}
                                    /*----------HEADER__BORDER---------*/

header a:hover::after{
    transform: scaleX(0);
}
p{color: var(--light);}
a{
    text-decoration: none;
    color: var(--light);
    text-decoration: none;
    margin-bottom: 0.5rem;
    transition: .5s ease-out;
    scale: 1.05;
}
a:hover, a:active{
    color: var(--Hover-1);
    transition: .5s ease-out;
    scale: 1;
}
.social__icons a:hover,.social__icons a:active,.social__links:hover,.social__links:active{color: var(--color);}

a::after,a::before{
    content:"";
    position: absolute;
    width: 100%;
    height: .1rem;
    bottom: 0;
    left: 0;
    border-radius: 50%;
    background:var(--Hover-1);/*change hover here*/
    transform: scaleX(0);
    transform-origin: center;
    transition: transform .5s;
}
.social__icons a::after,.social__links::after{background: var(--color);}
a:hover::after,a:hover::before{
    transform: scaleX(1);
}

h1 ,h2{
    font-family: 'Oswald', sans-serif;
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 15px;
    color: var(--head-titles);
    text-shadow: 0 0 20px var(--head-titles);
}



                                    /*--------------------------*/


.logo {
    color: var(--logo-glow-2);
    font-family: 'Splash',cursive;
    font-weight: 400;
    font-size: 2.2rem;
    text-decoration: none;
    text-shadow: 0 0 20px var(--logo-glow-2);
    animation: logo-glow 1s ease-in-out infinite alternate 2s;
}

.logo__link:hover::after{transform: scaleX(0);}

@keyframes logo-glow {
    from {
    text-shadow: 0 0 5px var(--logo-glow-1);
    }
    to {
    text-shadow: 0 0 20px var(--logo-glow-2);
    }
}
ul{
    list-style: none;
    display: table;
}
.nav-links li a:hover{
    color: var(--light);
}

                            /*-------------------------------*/
.after__header{
    height: 50vh;
    height: 50svh;
    position: relative;
}

@keyframes title-glow {
    0%,20%,100% {color: var(--head-titles-2);text-shadow: 0 0 20px var(--head-titles-2);}
    40% {color: #278cf8;text-shadow: 0 0 20px #278cf8;}
    50% {color: #a827f8;text-shadow: 0 0 20px #a827f8;}
    60% {color: #f8279a;text-shadow: 0 0 20px #f8279a;}
    70% {color: #273cf8;text-shadow: 0 0 20px #273cf8;}
}
.JG{animation: JG-glow 3s infinite ease;}
p:has(span.JG){opacity: .4;}
@keyframes JG-glow {
    0%,25%{text-shadow: 0 0 5px var(--color-text);opacity:1;filter: blur(0px);}
    10%{text-shadow: 0 0 1px var(--color-text);opacity: 0;filter: blur(5px);}
}

#LightSwitch{
    width: 3.15rem;
    aspect-ratio: 1/1;
    mix-blend-mode: difference;
}

.LightSwitch_container{
    background: #131313;
    border: 3px solid #ddcafa;
    border-radius:  20px 0  0 20px ;
    z-index: 9999;
    position: fixed;
    bottom: .7rem;
    right: 0;
    padding: 2px;
    animation: lghtswtch 5s infinite;
}

@keyframes lghtswtch {
    0%,60%{background: #131313;border: 3px solid #ddcafa;}
    10%,50%{background: #ddcafa;border: 3px solid #131313;}
}
